In [1]:
import pandas as pd
import requests

In [54]:
# read API_KEY from secret variable in OS
import os

##############################
API_KEY = "987706bb-aaa5-409f-adef-665b3c5767b8"
##############################

In [62]:
#get stock price using SET SMART API
#"https://www.setsmart.com/api/listed-company-api/eod-price-by-symbol?symbol=SCC&startDate=2023-01-01&endDate=2023-05-23&adjustedPriceFlag=Y" -H "api-key: API_KEY_HERE"
def get_stock_price(symbol, start_date, end_date, adjusted_price_flag='Y'):
    url = f'https://www.setsmart.com/api/listed-company-api/eod-price-by-symbol?symbol={symbol}&startDate={start_date}&endDate={end_date}&adjustedPriceFlag={adjusted_price_flag}'
    headers = {'api-key': API_KEY}
    r = requests.get(url, headers=headers)
    data = r.json()
    if r.status_code == 200:
        df = pd.DataFrame(data)
        df['date'] = pd.to_datetime(df['date'])
        return df
    else:
        return print(f'status: {data["status"]}, message: {data["message"]}')

In [71]:
df = get_stock_price('SCC', '2023-01-01', '2023-05-23')

status: fail, message: Invalid Date

In [65]:
df.head().T

,0,1,2,3,4
date,2023-01-03 00:00:00,2023-01-04 00:00:00,2023-01-05 00:00:00,2023-01-06 00:00:00,2023-01-09 00:00:00
symbol,SCC,SCC,SCC,SCC,SCC
securityType,CS,CS,CS,CS,CS
adjustedPriceFlag,Y,Y,Y,Y,Y
prior,342.0,342.0,345.0,349.0,350.0
open,341.0,342.0,345.0,349.0,353.0
high,344.0,345.0,350.0,351.0,354.0
low,340.0,340.0,344.0,347.0,351.0
close,342.0,345.0,349.0,350.0,352.0
average,342.059286,343.08009,348.151706,349.795692,352.583638
aomVolume,1666500.0,1559500.0,2734900.0,1471800.0,1639200.0
aomValue,570041800.0,535033400.0,952160100.0,514829300.0,577955100.0
trVolume,NaN,NaN,10900.0,NaN,NaN
trValue,NaN,NaN,4051366.5,NaN,NaN
totalVolume,1667649.0,1560548.0,2747959.0,1473891.0,1640824.0
totalValue,570434876.0,535392235.0,956962419.5,515560860.0,578527828.0
pe,13.9,14.02,14.18,14.22,14.3
pbv,1.04,1.05,1.06,1.06,1.07
bvps,329.61,329.61,329.61,329.61,329.61
dividendYield,5.41,5.36,5.3,5.29,5.26
marketCap,410400000000.0,414000000000.0,418800000000.0,420000000000.0,422400000000.0
volumeTurnover,0.138971,0.130046,0.228997,0.122824,0.136735

In [72]:
stock_list = ['ADVANC', 'AOT', 'AWC', 'BANPU', 'BBL', 'BDMS', 'BEM', 'BGRIM', 'BH', 'BTS', 'CBG', 'CENTEL', 'COM7', 'CPALL', 'CPF', 'CPN', 'CRC', 'DELTA', 'EA', 'EGCO', 'GLOBAL', 'GPSC', 'GULF', 'HMPRO', 'INTUCH', 'IVL', 'JMART', 'JMT', 'KBANK', 'KTB', 'KTC', 'LH', 'MINT', 'MTC', 'OR', 'OSP', 'PTT', 'PTTEP', 'PTTGC', 'RATCH', 'SAWAD', 'SCB', 'SCC', 'SCGP', 'TIDLOR', 'TISCO', 'TOP', 'TRUE', 'TTB', 'TU']
# stock_list = ['ADVANC', 'AOT', 'AWC']
#load data from SET SMART API
#keep only date, symbol, close
#append all data to dataframe, with symbol as column name
START_DATE = '2021-01-01'
END_DATE = '2023-06-30'
for stock in stock_list:
    df = get_stock_price(stock, START_DATE, END_DATE)
    df = df[['date', 'symbol', 'close']]
    df = df.rename(columns={'close': stock})
    df = df.drop(columns=['symbol'])
    df = df.set_index('date')
    if stock == 'ADVANC':
        df_all = df
    else:
        df_all = df_all.merge(df, how='left', on='date')

In [74]:
df_all

,ADVANC,AOT,AWC,BANPU,BBL,BDMS,BEM,BGRIM,BH,BTS,...,SAWAD,SCB,SCC,SCGP,TIDLOR,TISCO,TOP,TRUE,TTB,TU
date,,,,,,,,,,,,,,,,,,,,,
2021-01-04,176.0,61.75,4.60,9.43712,120.5,20.80,8.35,51.00,120.0,9.30,...,66.50,NaN,377.0,42.00,NaN,88.50,54.75,NaN,1.06,13.7
2021-01-05,178.5,64.50,4.76,9.35286,121.0,21.20,8.40,54.25,123.0,9.55,...,66.75,NaN,379.0,42.75,NaN,87.75,56.25,NaN,1.12,14.1
2021-01-06,179.5,63.25,4.74,9.52138,122.0,20.90,8.30,53.25,119.5,9.40,...,65.50,NaN,376.0,42.25,NaN,89.50,57.00,NaN,1.15,13.8
2021-01-07,180.5,64.75,4.74,9.18434,125.0,21.20,8.50,54.00,123.0,9.90,...,69.25,NaN,381.0,43.50,NaN,91.50,57.00,NaN,1.23,13.8
2021-01-08,184.5,65.25,4.78,8.08896,125.0,21.70,8.55,53.25,128.5,10.10,...,69.50,NaN,385.0,43.75,NaN,90.75,57.50,NaN,1.21,14.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2023-06-26,210.0,71.75,4.84,9.00000,163.0,28.50,8.25,34.50,226.0,7.30,...,46.00,107.5,324.0,36.25,22.2,96.25,43.75,6.15,1.60,13.0
2023-06-27,210.0,71.50,4.76,8.90000,161.5,28.00,8.20,33.50,225.0,7.20,...,46.50,106.0,321.0,36.00,22.6,96.25,43.25,6.10,1.59,12.8
2023-06-28,212.0,71.25,4.78,8.70000,155.5,27.75,8.40,34.25,223.0,7.40,...,47.00,103.5,322.0,36.00,22.5,95.75,42.75,6.20,1.53,12.7
2023-06-29,211.0,71.25,4.84,8.65000,156.5,27.75,8.35,34.50,222.0,7.45,...,46.50,104.5,320.0,36.75,22.5,96.25,44.00,6.30,1.50,12.8
2023-06-30,214.0,72.00,4.94,8.85000,159.5,27.75,8.55,34.75,226.0,7.45,...,47.25,106.5,322.0,37.25,23.1,97.00,44.25,6.55,1.55,12.9

In [35]:
df_all.to_parquet('data/stock_price.parquet')

In [76]:
df_all.to_excel('../data/stock_price.xlsx')

In [ ]:
# https://www.setsmart.com/ism/tfexSeriesTrading.html?showEndDate=30%2F03%2F2023&decorator=excel&endDate=30%2F03%2F2023&lstDisplay=T&seriesId=109966&submit.x=25&lstPeriod=D&submit.y=11&periodView=A&strLastTradeDate=23%2F06%2F2023&beginDate=2%2F01%2F2023&tradingMethod=&series=SCCH23&showBeginDate=2%2F01%2F2023&strFirstTradeDate=28%2F04%2F2006&allTradingDate=false
end_date = '30/03/2023'
beginDate = '2/01/2023'
series_id = '109966'
series = 'SCCH23'
period_view = 'A'

params = {
    'showEndDate': end_date,
    'decorator': 'excel',
    'endDate': end_date,
    'lstDisplay': 'T',
    'seriesId': series_id,
    'submit.x': '25',
    'lstPeriod': 'D',
    'submit.y': '11',
    'periodView': period_view,
    'strLastTradeDate': '23/06/2023',
    'beginDate': beginDate,
    'tradingMethod': '',
    'series': series,
    'showBeginDate': beginDate,
    'strFirstTradeDate': '28/04/2006',
    'allTradingDate': 'false'
}
#convert  / to %2F
params = {k: v.replace('/', '%2F') for k, v in params.items()}